Code/Bank/xml-resources/web-service-references/Bank/wsdl/localhost_8080/Bank_WS/Bank.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bank_ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://bank_ws/" name="Bank">
<types>
<xsd:schema>
<xsd:import namespace="http://bank_ws/" schemaLocation="http://localhost:8080/Bank_WS/Bank?xsd=1"/>
</xsd:schema>
</types>
<message name="employeeLogin">
<part name="parameters" element="tns:employeeLogin"/>
</message>
<message name="employeeLoginResponse">
<part name="parameters" element="tns:employeeLoginResponse"/>
</message>
<message name="readUsersFile">
<part name="parameters" element="tns:readUsersFile"/>
</message>
<message name="readUsersFileResponse">
<part name="parameters" element="tns:readUsersFileResponse"/>
</message>
<message name="registerEmployee">
<part name="parameters" element="tns:registerEmployee"/>
</message>
<message name="registerEmployeeResponse">
<part name="parameters" element="tns:registerEmployeeResponse"/>
</message>
<message name="editEmployee">
<part name="parameters" element="tns:editEmployee"/>
</message>
<message name="editEmployeeResponse">
<part name="parameters" element="tns:editEmployeeResponse"/>
</message>
<message name="getEmployeeDetails">
<part name="parameters" element="tns:getEmployeeDetails"/>
</message>
<message name="getEmployeeDetailsResponse">
<part name="parameters" element="tns:getEmployeeDetailsResponse"/>
</message>
<message name="readCustomerFile">
<part name="parameters" element="tns:readCustomerFile"/>
</message>
<message name="readCustomerFileResponse">
<part name="parameters" element="tns:readCustomerFileResponse"/>
</message>
<message name="updateCustomerFile">
<part name="parameters" element="tns:updateCustomerFile"/>
</message>
<message name="updateCustomerFileResponse">
<part name="parameters" element="tns:updateCustomerFileResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="getNumberOfCustomers">
<part name="parameters" element="tns:getNumberOfCustomers"/>
</message>
<message name="getNumberOfCustomersResponse">
<part name="parameters" element="tns:getNumberOfCustomersResponse"/>
</message>
<message name="getCustomer">
<part name="parameters" element="tns:getCustomer"/>
</message>
<message name="getCustomerResponse">
<part name="parameters" element="tns:getCustomerResponse"/>
</message>
<message name="deleteEmployee">
<part name="parameters" element="tns:deleteEmployee"/>
</message>
<message name="deleteEmployeeResponse">
<part name="parameters" element="tns:deleteEmployeeResponse"/>
</message>
<message name="editCustomer">
<part name="parameters" element="tns:editCustomer"/>
</message>
<message name="editCustomerResponse">
<part name="parameters" element="tns:editCustomerResponse"/>
</message>
<message name="registerCustomer">
<part name="parameters" element="tns:registerCustomer"/>
</message>
<message name="registerCustomerResponse">
<part name="parameters" element="tns:registerCustomerResponse"/>
</message>
<message name="getCustomerDetails">
<part name="parameters" element="tns:getCustomerDetails"/>
</message>
<message name="getCustomerDetailsResponse">
<part name="parameters" element="tns:getCustomerDetailsResponse"/>
</message>
<message name="deleteCustomer">
<part name="parameters" element="tns:deleteCustomer"/>
</message>
<message name="deleteCustomerResponse">
<part name="parameters" element="tns:deleteCustomerResponse"/>
</message>
<portType name="Bank">
<operation name="employeeLogin">
<input wsam:Action="http://bank_ws/Bank/employeeLoginRequest" message="tns:employeeLogin"/>
<output wsam:Action="http://bank_ws/Bank/employeeLoginResponse" message="tns:employeeLoginResponse"/>
</operation>
<operation name="readUsersFile">
<input wsam:Action="http://bank_ws/Bank/readUsersFileRequest" message="tns:readUsersFile"/>
<output wsam:Action="http://bank_ws/Bank/readUsersFileResponse" message="tns:readUsersFileResponse"/>
</operation>
<operation name="registerEmployee">
<input wsam:Action="http://bank_ws/Bank/registerEmployeeRequest" message="tns:registerEmployee"/>
<output wsam:Action="http://bank_ws/Bank/registerEmployeeResponse" message="tns:registerEmployeeResponse"/>
</operation>
<operation name="editEmployee">
<input wsam:Action="http://bank_ws/Bank/editEmployeeRequest" message="tns:editEmployee"/>
<output wsam:Action="http://bank_ws/Bank/editEmployeeResponse" message="tns:editEmployeeResponse"/>
</operation>
<operation name="getEmployeeDetails">
<input wsam:Action="http://bank_ws/Bank/getEmployeeDetailsRequest" message="tns:getEmployeeDetails"/>
<output wsam:Action="http://bank_ws/Bank/getEmployeeDetailsResponse" message="tns:getEmployeeDetailsResponse"/>
</operation>
<operation name="readCustomerFile">
<input wsam:Action="http://bank_ws/Bank/readCustomerFileRequest" message="tns:readCustomerFile"/>
<output wsam:Action="http://bank_ws/Bank/readCustomerFileResponse" message="tns:readCustomerFileResponse"/>
</operation>
<operation name="updateCustomerFile">
<input wsam:Action="http://bank_ws/Bank/updateCustomerFileRequest" message="tns:updateCustomerFile"/>
<output wsam:Action="http://bank_ws/Bank/updateCustomerFileResponse" message="tns:updateCustomerFileResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://bank_ws/Bank/updateCustomerFile/Fault/IOException"/>
</operation>
<operation name="getNumberOfCustomers">
<input wsam:Action="http://bank_ws/Bank/getNumberOfCustomersRequest" message="tns:getNumberOfCustomers"/>
<output wsam:Action="http://bank_ws/Bank/getNumberOfCustomersResponse" message="tns:getNumberOfCustomersResponse"/>
</operation>
<operation name="getCustomer">
<input wsam:Action="http://bank_ws/Bank/getCustomerRequest" message="tns:getCustomer"/>
<output wsam:Action="http://bank_ws/Bank/getCustomerResponse" message="tns:getCustomerResponse"/>
</operation>
<operation name="deleteEmployee">
<input wsam:Action="http://bank_ws/Bank/deleteEmployeeRequest" message="tns:deleteEmployee"/>
<output wsam:Action="http://bank_ws/Bank/deleteEmployeeResponse" message="tns:deleteEmployeeResponse"/>
</operation>
<operation name="editCustomer">
<input wsam:Action="http://bank_ws/Bank/editCustomerRequest" message="tns:editCustomer"/>
<output wsam:Action="http://bank_ws/Bank/editCustomerResponse" message="tns:editCustomerResponse"/>
</operation>
<operation name="registerCustomer">
<input wsam:Action="http://bank_ws/Bank/registerCustomerRequest" message="tns:registerCustomer"/>
<output wsam:Action="http://bank_ws/Bank/registerCustomerResponse" message="tns:registerCustomerResponse"/>
</operation>
<operation name="getCustomerDetails">
<input wsam:Action="http://bank_ws/Bank/getCustomerDetailsRequest" message="tns:getCustomerDetails"/>
<output wsam:Action="http://bank_ws/Bank/getCustomerDetailsResponse" message="tns:getCustomerDetailsResponse"/>
</operation>
<operation name="deleteCustomer">
<input wsam:Action="http://bank_ws/Bank/deleteCustomerRequest" message="tns:deleteCustomer"/>
<output wsam:Action="http://bank_ws/Bank/deleteCustomerResponse" message="tns:deleteCustomerResponse"/>
</operation>
</portType>
<binding name="BankPortBinding" type="tns:Bank">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="employeeLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readUsersFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registerEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEmployeeDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readCustomerFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateCustomerFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="getNumberOfCustomers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registerCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomerDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Bank">
<port name="BankPort" binding="tns:BankPortBinding">
<soap:address location="http://localhost:8080/Bank_WS/Bank"/>
</port>
</service>
</definitions>